body{
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.height-limit{
  height: 200px;
  
}

.text-25{
  font-size: 25px;
}
.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  background-color: rgba(179, 224, 255, 0.5);
}
.day{
  margin-top: -100px;
}

.btn-navy{
  background-color: blue;
}

.btn{
    color: white;
    font-size: 25px;
}

.btn:hover{
  background:  blue;
  color: white;
}

.hot{
  color: rgb(255, 128, 128);
  margin-left: 20px;
}

.cold{
  color: rgb(77, 184, 255);
  margin-right: 20px;
}